/* Assigning color to body & p and background color to body & h2 */

$text-color: #3D3D3D;
$primary-color: #6D6D6D;

body {
  color: $text-color;
  background-color: $primary-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $primary-color;
}
